<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts by @<%= postsByUser[0].username %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora </h1>
    <br>
    <h2 class="username" >Post by @<%= postsByUser[0].username %> </h2>
    <% for(const post of postsByUser) { %>
        <div class="post">
            <h3 class="id" >Post id : #<%= postsByUser[0].id %> </h3>
            <h3 class="content" ><%= post.content; %></h3>
        </div>
        <hr>
    <% } %>
    <p><a href="http://localhost:786/posts/new">Add a new Post</a></p>
    <hr><br>
</body>
</html>